@use 'reset';
@use 'variables/global';

#root, body {
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: var(--font-family-primary), sans-serif;
  font-size: var(--font-size-m);
  background: var(--color-body-bg);
}

.app {
  width: 90%;
  height: 90%;

  background-color: var(--color-app-bg);
}