@use 'reset';
@use 'variables/global';

#root, body {
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: var(--font-family-primary), sans-serif;
  font-size: var(--font-size-m);
  background: var(--color-body-bg);
  color: var(--color-text-primary);
}

.app {
  width: 90%;
  height: 90%;

  background-color: var(--color-app-bg);
  border-radius: 24px;

  display: grid;
  grid-template-rows: var(--header-height) repeat(4, 1fr);
  grid-template-columns: var(--sidebar-width) repeat(4, 1fr);
  grid-template-areas:
          "header header header header header"
          "sidebar content content content content"
          "sidebar content content content content"
          "sidebar content content content content"
          "sidebar content content content content";
}

.content {
  grid-area: content;
}