.Button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color, transform var(--transition-duration);

  border-radius: 12px;

  background-color: var(--color-hover-bg);
  padding: 10px 16px;

  &:focus {
    outline: 2px solid var(--color-text-primary);
  }

  &:hover {
    background-color: var(--color-card-bg);
  }

  &:active {
    transform: scale(0.98);
  }
}