.Authorization {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .changeForm {
    margin-top: 10px;
    background: none;
    outline: none;
    padding: 0;

    &:hover {
      background: none;
      text-decoration: underline;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;

  width: 280px;
}

.input {
  width: 100%;
}

.button {
  margin-top: 12px;
}
