.Header {
  grid-area: header;
  border-bottom: 2px solid var(--color-border-primary);
  padding: 10px 20px;

  display: flex;
  align-items: center;
}

.logo {
  font-size: var(--font-size-xxl);
  font-weight: 700;
}